<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ asset('img/sell-me-logo.png') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <title>Nous Connaitre</title>
</head>
<body>
<header>
    <a href="{{ path('main_home') }}"><img src="{{ asset('img/logo sell me.png') }}" alt="Sell Me"></a>
</header>
    <h1> Qui somme nous ?</h1>
    <div class="presentation">
        <h2>Sell Me</h2>
        <article>
            Votre destination en ligne pour des produits d'exception qui vous feront briller de mille feux.
            Nous sommes ravis de vous accueillir dans notre univers étincelant où le luxe et l'élégance sont à
            portée de clic.
            la plateforme en ligne qui vous offre une opportunité unique de mettre en valeur vos trésors
            personnels et de les
            transformer en de l'or.
            Nous sommes enchantés de vous accueillir dans notre espace dédié aux particuliers,
            où vous pouvez vendre vos produits de manière simple et efficace.
        </article>
        <h2>Pourquoi Sell Me ?</h2>
        <article>
            Sell me est une idéé née de la volonté de créer une plateforme e-commerce novatrice qui répond aux besoins
            changeants des consommateurs et des vendeurs. Chez Sell Me, notre mission est d'offrir une expérience
            d'achat en ligne simple, sécurisée et personnalisée, tout en permettant aux vendeurs de maximiser leurs
            opportunités de vente.

            Notre équipe est composée de passionnés de technologie, de commerce et de design, tous engagés à repousser
            les limites de l'e-commerce pour offrir quelque chose de vraiment unique. Nous croyons fermement à
            l'importance de l'innovation continue, de la transparence et de l'intégrité dans tout ce que nous faisons.

            Avec Sell Me, les utilisateurs peuvent découvrir une large gamme de produits de qualité, des dernières
            tendances aux articles uniques, tout en bénéficiant d'un processus d'achat fluide et sécurisé. Nous nous
            engageons à soutenir nos vendeurs en leur offrant les outils et les ressources nécessaires pour réussir dans
            un marché en constante évolution.

            Que vous soyez un acheteur à la recherche de la perle rare ou un vendeur souhaitant étendre votre audience,
            Sell Me est là pour vous accompagner à chaque étape de votre parcours. Rejoignez-nous dès aujourd'hui et
            découvrez l'avenir du commerce en ligne avec Sell Me.
        </article>
    </div>
</body>
</html>

