body{

    background-color: #302F2F;
    background-attachment: fixed;
    color: white;
}
.container{

    margin: auto;
    padding: 5px;
}
a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: #5eb5e0;
}
 img{
     max-width: 100%;
 }
 body > .container{
     display: flex;
     flex-direction: column;
     min-height: 100vh;
 }
 header img {
     height: 70px;
 }
 main{
     flex: 1;
 }

 nav ul {
     display: flex;
     list-style: none;
     flex-wrap: wrap;
     padding-left: 0;
 }

 nav li {
     margin-left: 2rem;
     margin-right: 2rem;
     padding: 5px;

 }
 .nav-header{
     background-color: rgba(255, 255, 255, 0.45);
     border-radius: 30px;
 }

 .produit-list{
     flex: 1;
     display: grid;
     grid-gap: 10px;
     grid-template-columns: repeat(3, 1fr);
 }

.produit-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: white;
    color: black;
    margin-bottom: 10px;

}
.articl-produit{
    background-color: white;
    color: black;
    height: auto;
    margin-bottom: 30px;
    grid-gap: 20px;

}
.articl-produit img{
    width: 93%;
    height: 200px;
    margin: 3%;
}
#produit-nom{
    text-align: center;
}
#produit-prix{
    color: red;
    margin-left: 10px;
    font-weight: bold;

}
#produit-categorie{
    font-weight: bold;
    margin-left: 10px;

}
#produit-etat{
    color: #1EC34C;
    margin-right: 10px;
}

.articl-produit-detail {
    display: flex;
    justify-content: space-between;
}

.produit-details {
    margin-left: 50px;
    flex: 1;
    padding-left: 20px;

    height: 100%;
}
.produit-description{
    background-color: #D9D9D9;
    min-height: 250px;
    max-height: 250px;
    padding: 10px;
    margin-bottom: 20px;
    overflow: scroll;
}

.produit-pricing {
    flex: 1;
    padding-right: 20px;
    margin-top: 70px;
    border: grey solid ;
    max-width: 200px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    min-height: 200px;

}
.livraison-disponible{
    color: #1EC34C;
    margin-top: 5px;
    margin-bottom: 5px;
}
.livraison-non-disponible{
    color: red;
    text-decoration: line-through;
    margin-top: 5px;
    margin-bottom: 5px;
}
.produit-prix{
    color : red;
    border-bottom: grey solid;
    width: 100%;
    margin: 10px;
    font-size: x-large;
    font-weight: bold;
    height: 50px;
}
.produit-nom{
    text-decoration: underline;
}
.produit-etat{
    color: #1EC34C;
}

.produit-image img {
    max-width: 100%;
}

.produit-container h2 {
    color: black; /* Ajoutez la couleur du texte souhaitée */
}

footer {
    background-color: #AAAAAA;
}

label {
    display: block;
    color: black;
    margin-left: 5%;
}

input, textarea ,select{
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 90%;
    margin-left: 5%;
    background: rgba(0, 0, 0, 0.09);
    border-radius: 8px;

}
.form-container{
    background-color: #AAAAAA;
    height: 120%;
}
.form-product{
    background-color: white;
    margin-left: 30%;
    margin-right: 230px;
    margin-top: 100px;
    width: 40%;
    height: auto;
    color: black;



}
.form-product article {
    padding: 30px;
}
.signale h2{
    margin-left: 5%;
}
.form-product button{
    background: rgba(5, 135, 255, 0.94);
    width: 30%;
    height: 33px;
    flex-shrink: 0;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 30%;
    margin-bottom: 5px;
    margin-top: 5px;

}
#logo-form{
    margin-left: 40%;
    margin-top: 10px;
    background-color: black;
    width: 70px;
    height: 75px;

}
.produit-image {

    flex: 1;
}

.slider_detail{
    height: 20%;
    min-width: 100%;
    max-width: 100%;
    position: relative;
}
.slider_detail_nav {
    position: relative;
}
.slider_content_detail{
    height: 100%;
    width: 100%;
    display : flex;
    overflow: hidden;
    margin: 10px;
    scroll-behavior: smooth;

}

.slider_content_item_detail{
    height: 90%;
    min-width: 100%;

}
.slider_content_item_detail img {
    height: 400px;
    min-width: 100%;

}

.slider_nav_button_detail:hover{
    transform: scale(1.4);
}
.slider_nav_button_detail--next{
    position: absolute;
    left: 90%;
    margin-top: 25%;
    cursor: pointer;
    border: grey wave;
    border-radius: 60px ;
    opacity: 10;
}
.slider_nav_button_detail--prev {
    position: absolute;
    margin-top: 25%;
    left: 5%;
    cursor: pointer;
    border: grey wave;
    border-radius: 60px ;
    opacity: 10;
}
.slider_nav_button_detail{
    width: 50px;
    height: 50px;
    transition: 0.3s all ease-in-out ;

}

.nature  input{

    position: absolute;
    right: 100px;
}
.nature label{
    margin-bottom: 20px;
    margin-left: 100px;
}

#creeCompte{
    margin-left: 20px;
}
#connexion{
    margin-left: 20px;
}

article a {
    text-decoration: underline;
    color: blue;
}
.inscription-login {
    background-color: lightgrey;
    height: 100px;
}
.inscription-login h4 {
    margin-top: 20px;
    margin-left: 20px;

}
.inscription-login button{
    border-radius: 30px;
    border: 1px solid #052DFF;
    background: #FFF;
}
.inscription-login a {
    color: #052DFF;
}
#articl-connexion{
    height: auto;
    background-color: darkgray;
    color: rgba(0, 0, 0, 0.57);
}
#clipart{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #D9D9D9;
    color: black;
    width: 40%;
    height: 500px;
    border-radius: 0 10px 10px 10px;
    margin-left: 15px;
    overflow-y: auto;
    z-index: 2;
}
.sub-menu-chat{
    display: none;
    position: absolute;
    background-color: #D9D9D9;
    width: auto;
    color: black;
    border-radius: 10px 0 10px 10px;
    /*margin-left: 15px;*/
    overflow-y: auto;
    z-index: 2;
    right: 90%;
}

.sub-menu-chat li {
    white-space: nowrap;
}

.menu-item-chat{
    position: relative;
    margin-left: 50%;
}

.sub-menu.active {
    display: block;
}
.sub-menu h4{
    text-align: center;
    border-bottom: darkgray solid;
}
.button-sub-menu button{
    background: rgba(28, 26, 26, 0.14);
    margin-left: 40%;
}
.checkbox input{

    position: absolute;
    right: 100px;


}
.checkbox label{
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: underline;
    color: #052DFF;
}

#carrousel{
    width: 100%;
    height: 250px;
    border: solid 1px ;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    z-index: 1;
}
#container-carrousel{
    width: 100%;
    height: 250px;
    display: flex;
}
.photo{
    flex:0 auto;
    width: 100%;
    height: 100%;
    margin: 0;
    display: inline-block;
    background-size: 100% 100%;
    background-position: center;
}
.bouton{
    position: absolute;
    cursor: pointer;
    top: 80px;
}

#d{
    right: 0;
    opacity: 0.4;
    transition: all 0.4s ease;
}
#d:hover{
transform: scale(1.1);
    opacity: 1;
    transition: all 0.4s ease;
}

#g{
    left: 0;
    opacity: 0.4;
    transition: all 0.4s ease;
}
#g:hover{
    transform: scale(1.1);
    opacity: 1;
    transition: all 0.4s ease;
}
.menu-footer nav {
    display: inline-block;
    margin-left: 15%;
    margin-top: 20px;

    text-align: center;
}
.menu-footer h4{
 display: inline-block;
}
.menu-footer ul {
    display: block;
}
.copyright{
    text-align: center;
    display: block;
    font-weight: bold;
}
.copyright img {

    width: 50px;
    height: 55px;
}
.identifier-vous{
    text-align: center;
    color: #FFFFFF;
    height: 30px;
    background: rgba(16, 15, 15, 0.69);
    display: block;
}

.identifier-vous img{
    margin-top: 2px;
    width: 20px;
    height: 20px;
}



.logo-submenu{
    background: rgba(0, 0, 0, 0.80);
    text-align: center;
}
.logo-submenu img {
    width: 50px;
    height: 55px;
}
.sell-me-presentation{
    margin: 10px;
    background-color: #D9D9D9;
    color: black;
    padding: 10px;
}
.sell-me-presentation h1 {
    text-align: center;
}
.sell-me-presentation button{
    width: 90px;
    background: rgba(27, 73, 191, 0.10);
    color:  #1128F7;
    margin-left: 80%;
    margin-bottom: 30px;
    border: none;
}
.pub1 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(380px, 490px));

}
.pub1 div {
    margin: 10px;
}
.pub1 img {
    margin-left: 50%;

}
.pub1 p {
    position: absolute;
    color: red;
}
#p1 {
    margin-left: 30%;
    margin-top: 260px;
    color: #FFFFFF;
    font-size: x-large;
    font-weight: bold;
}

#p2{
    margin-left: 780px;
    margin-top: 260px;
    color: #FFFFFF;
    font-size: x-large;
    font-weight: bold;
}


.slider{
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}
.slider_nav {
    position: relative;

}
.slider_content{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}
.slider_content_item{
    height: 50%;
    min-width: 24%;
    margin: 5px;
    color: #302F2F;
    text-align: center;

}
.slider_content_item h3{
    margin-bottom: 40px;
  }
.slider_content_item img{
    margin-top: 100px;
    width: 100%;
    height: 100%;

}
.slider_nav_button{
    width: 50px;
    height: 50px;
    transition: 0.3s all ease-in-out ;
}
.slider_nav_button:hover{
    transform: scale(1.4);
}
.slider_nav_button--next{
    position: absolute;
    left: 60%;
    margin-top: 10px;
    cursor: pointer;
}
.slider_nav_button--prev{
    position: absolute;
    margin-top: 10px;
    left: 30%;
    cursor: pointer;
    display: none;

}
.slider_nav h2 {
    color: #302F2F;
    position: absolute;
    margin-left: 45%;
}

.barre_et_btn_de_recherche {
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
}

.barre_et_btn_de_recherche select {
    position: absolute;
    top: 35px;
    margin-left: 12.9%;
    width: 10%;
    height: 30px;
    border-radius: 15px 0 0 15px;
    background: rgba(255, 255, 255, 0.40);
}

.barre_et_btn_de_recherche select option {
    width: 15%;
    height: 30px;
    border-radius: 15px 0 0 15px;
    background: rgba(255, 255, 255, 0.40);
}

.barre_et_btn_de_recherche input {
    position: absolute;
    top: 35px;
    margin-left: 22.8%;
    width: 52%;
    height: 30px;
    border-radius: 0 15px 15px 0;
    border: 1px solid rgba(255, 255, 255, 0.50);
    color: #FFFFFF;
}

.barre_et_btn_de_recherche img{
    background-color: #302F2F;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}
.barre_et_btn_de_recherche button{
    top: 38px;
    position: absolute;
    background-color: #302F2F;
    border: none;
    margin-left: 70%;
    height: 20px;


}

.main-container{
    display: flex;
    justify-content: space-between;
}

.filtre {
    
    background-color: #FFFFFF;
    width: 150px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-right: 1px solid #ccc;
    height: 50%;

}


.messagerie-logo {
    position: absolute;
    top : 26px;
    right: 15%;

}

.messagerie-logo img {
    position: inherit;
    top: 0;
    width: 60px;
    height: 50px;
    cursor: pointer;
}
.detail-messagerie{
    position: absolute;
    top: 20px;
    right: 16%;

    color: red;
}



.panier {
    position: absolute;
    top : 30px;
    right: 5%;

}

.panier img {
    position: inherit;
    top: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.detail-panier{
    position: absolute;
    top: 15px;
    right: 8%;

    color: red;
}

.cart-container{
  width: 100%;
    background-color: lightgrey;
    min-height: 500px;
 padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 20px;
}
.cart{
    background-color: #FFFFFF;
    color: black;
    width: 70%;
    margin-left: 1%;
    min-height: 250px;
    margin-bottom: 1%;

}
.cart h1{
margin-top: 10px;
    margin-left: 5px;
    border-bottom: solid grey 1px ;
    width: 90%;
}


.cart-produit {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    border-bottom: solid grey 1px;
    width: 90%;
    margin-left: 5px;
}

.cart-produit img {
    width: 150px;
    height: 150px;
    margin-left: 2%;
}

.cart-details {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.cart-produit-content {
    flex-grow: 1;
    margin-left: 60%;
    width: 100%;
}

.cart-produit-action{

    display: block;
}
.cart-produit-action img
{
    width: 15px;
    height: 15px;
    border: 1px solid black;
    margin-left: 7px;
    margin-top: 5px;
}
.cart-produit-content-etat{
    color: #1EC34C;
}

.cart-action{
    width: 18%;
    right: 0;
    top: 40%;
    margin-right: 4%;
    display: block;
    background-color: #FFFFFF;
    border: #302F2F solid;
    color: #302F2F;
    padding: 10px;
    position: absolute;


}
.quantite-selectionner{
    margin-left: 30%;
    border: solid black 1px;
    width: 20px;
}

.add-button{
    width: 50%;
    padding: 5px;
    word-wrap: break-word;
    cursor: pointer;
    margin-left: 25%;
    margin-top: 10%;
    text-align: center;
    background-color: #0EF6DA;
}
.delete-button{
    width: 50%;
    background-color: red;
    margin-left: 25%;
    padding: 5px;
    margin-top: 10%;
    text-align: center;
}
#total-panier{
    position: absolute;
    right: 10%;
    font-size: larger;
    font-weight: bold;
    top: 5%;
    color: red;
}
#total{
    margin-left: 5%;
}
.message-flash {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    z-index: 1000;
    transition: opacity 1s ease-in-out;
}

.message-flash.fade-out {
    opacity: 0;
}




.messagerie{
    background-color: #FFFFFF;
    min-height: 200px;
    max-height: 100%;
    width: 100%;
    color: #302F2F;
    margin-bottom: 20px;

}
.messagerie .messagerie-title{
    text-decoration: underline;
    text-align: center;
    border-bottom: #D9D9D9 solid;
    margin-bottom: 50px;
}
.messagerie .messagerie-vide{
    text-decoration: underline;
    text-align: center;
    margin-bottom: 50px;
}

.element
{
    border-bottom:#D9D9D9 solid; ;
    cursor: pointer;
}
.unread {
    font-weight: bold;
}
.element-image{
    position: absolute;
    margin-left: 50px;
}
.element-title{
    position: relative;
    margin-left: 170px;
}
.element-produit{
    position: relative;
    margin-left: 170px;
}

.element-image img{
    width: 70px;
    height: 70px;
}


.chat-container {
    align-items: center;
    background-color: #FFFFFF;
    width: 80%;
    color: #302F2F;
    margin: 0 auto;
    margin-bottom: 20px;
}

#flechGaucheChat {
    height: 20px;
    width: 30px;
    left: 0;
}

.chat-title {
    border-bottom: #D9D9D9 solid;
    display: flex;
    align-items: center;
    padding: 5px;
}

.chat-title img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-left: 50px;

}

.chat-title h3 {
    margin-left: 30px;
}
.chat-title p {
    margin-left: 30px;
}


.message-chat {

    display: flex;
    flex-direction: column;
    min-height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

.message-container {
    display: flex;
    justify-content: flex-end; /* Aligner les éléments à l'extrême droite */
    margin-top: 10px;
}

.message {
    max-width: 50%;
    width: auto;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word;
}

.utilisateur-connecte .message {
    background-color: #42B9EC;
    margin-left: auto;
    margin-right: 50px;
}

.utilisateur-cible .message {
    background-color: #E0E0E0;
    margin-right: auto;
    margin-left: 50px;
}

.chat-form {
    padding: 5px;
    background-color: #D9D9D9;
    text-align: center; /* Aligner les éléments au centre */
}
.chat-form img {
    height: 30px;
    width: 30px;
    vertical-align: middle; /* Aligner les images verticalement */
    margin-top: 5px;
    cursor: pointer;
}
.chat-input{
    width: 60%;
    min-width: 50%;
    max-width: 70%;
    margin-top: 15px;

}

.select-file,
.select-image,
.chat-input,
.chat-bouton {
    display: inline-block;
    vertical-align: middle;
   margin-left: 20px;
}
.chat-bouton {
    margin-right: 0;
}

.message-container .message-fichier{
    height: 50px;
    width: 50px;
}
.noMessage{
 margin-top: 10%;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.message-details {
    display: none;
}

.list-commande {
    border-bottom: white solid;
    margin-bottom: 20px;
}

.profil_details div{
    margin-left: 5%;

    width: 70%;
}
.button_profil{
display: flex;
}
.button_profil a {
    padding: 10px;
    width: 20%;

    text-align: center;
    background: rgba(5, 135, 255, 0.94);
    margin-left: 15%;
    margin-bottom: 5px;
    cursor: pointer;
    height: 100%;
    flex-shrink: 0;
    border-radius: 30px;
    margin-top: 5px;
}
.photoDeProfil img{
    width: 30%;
    height: 30%;
    border-radius: 100%;
}

.admin-accueil{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
    color: black;

}
.admin-accueil img{
    width: 100px;
    height: 120px;
}
.produit-validation,.ajouter-utilisateur,.ajouter-administrateur,.supprimer-utilisateur,.ajouter-categorie{

    text-align: center;
    background-color: white;
}
