@media screen and (max-width: 780px) {


    nav ul {
        display: flex;
        flex-wrap: wrap;
    }

    .pub1{

        display: none;
    }

    .slider_content{
        width: 100%;
    }
    .slider_nav_button--next{

        left: 70%;

    }
    .slider_nav_button--prev{

        left: 30%;


    }
}
