{% extends 'baseForm.html.twig' %}
  {% block titleForm %}{{ parent() }} ajout d'un produit{% endblock %}
{% block bodyForm %}
        {{ form_start(produiForm) }}
        {{ form_widget(produiForm) }}
        <button type="submit"> Créer !</button>
        <button onclick="history.back()">Annuler Revenir en arriere</button>
        {{ form_end(produiForm) }}
{% endblock %}