<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body class="message-container">
<div class="chat-container">
    <div class="chat-messages" id="chat-messages">
        <!-- Messages du chat seront ajoutés ici -->
    </div>
    <div class="chat-input">
        <input type="text" id="message-input" placeholder="Entrez votre message...">
        <button id="send-button">Envoyer</button>
    </div>
</div>
<script src="{{ asset('Js/script.js') }}"></script>
</body>
</html>
